.main-container {
    max-width: 900px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
}

.left-container {
    max-width: 30%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.blue-box {
    width: 250px;
    height: 900px;
    background-color: #bed8ec;
    position: absolute;
    z-index: -1;
    top: 330px;
}

.demographic {
    max-width: 200px;
    max-height: 40px;
}

.photo {
    width: 150px;
    height: 150px;
}

.first-name {
    font-size: xxx-large;
    font-family: Calibri;
    text-transform: uppercase;
    margin: 5px 0 0 0;
}

.last-name {
    font-size: xxx-large;
    font-family: Calibri;
    text-transform: uppercase;
    font-weight: bold;
    margin: 5px 0 0 0;
}

.prof {
    font-family: Calibri;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}

.section-header p {
    width: 180px;
    height: 35px;
    background-color: #424243;
    color: white;
    font-size: x-large;
    font-family: Calibri;
    text-transform: uppercase;
    text-align: center;
    padding-top: 5px;
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-block {
    display: flex;
    align-items: center;
    height: 40px;
}

.section-block-lang {
    display: flex;
    align-items: center;
    height: 40px;
}

.section-block-hobby {
    display: flex;
    flex-wrap: wrap;
}

.section-desc {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
}

.section-desc-lang {
    text-transform: uppercase;
    margin-right: 10px;
}

.section-desc-block {
    width: 80px;
}

.section-point-block {
    width: 100px;
}

.section-img {
    margin: 0 2px;
}

.right-container {
    max-width: 70%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.right-container-section {
    margin-top: 10px;
    margin-bottom: 15px;
}

.right-container-section-header {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-top: 10px;
    position: relative;
    width: 600px;
}

.right-container-section-body {
    width: 515px;
    margin-bottom: 10px;
}

.right-container-section-body p {
    text-align: justify;
}

h1 {
    font-family: Calibri;
    text-transform: uppercase;
    margin-left: 20px;
    margin-top: 0;
}

.section-line {
    position: absolute;
    top: 28px;
    left: 60px;
}

.right-container-section-body-skills {
    display: flex;
    width: 515px;
    justify-content: space-between;
}

.right-container-section-body-head {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.right-container-section-body-head p {
    text-transform: uppercase;
    margin: 0 0;
}

.right-container-section-body-head p span {
    padding-left: 5px;
    font-weight: bold;
    margin: 0 0;
}

.section-block-skills {
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-between;
}   